.submenu {
  position: absolute;
  left: 0;
  top: 50px;
  height: 400px;
  width: 600px;
  color: black;
  z-index: 1000;
  background: #fff;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.submenu-type {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}

.hide {
  display: none;
}
